<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Painel Suporte MPM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
<div class="col-8 m-auto pt-2 pb-2">
    <h2>Cadatro de Empresas</h2>
</div>
<div class="col-8 m-auto pt-2 pb-2">
    <a href="/form" class="btn btn-primary">Adicionar Loja</a>
</div>
<div class="col-8 m-auto pt-2 pb-2">
<table class="table">
  <thead class="table-dark">
  <tr>
      <th scope="col">ID</th>
      <th scope="col">CNPJ</th>
      <th scope="col">RAZÃO SOCIAL</th>
      <th scope="col">NOME FANTASIA</th>
      <th scope="col">RESPONSÁVEL</th>
      <th scope="col">VENDEDOR</th>
      <th scope="col">AUTOMAÇÃO</th>
      <th scope="col">ANALISTA</th>
      <th scope="col">DATA ATIVAÇÃO</th>
      <th scope="col">STATUS</th>
  </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
   </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

</body>
</html>